.activities .activities-card {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.activities a {
  flex: 0 0 calc(100% / 4 - 30px);
  width: 100%;
}

.activities .card {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
  height: 100%;
  padding: 0;
}

.activities .activities-card .card img {
  height: 380px;
  width: 100%;
}

.activities .activities-card .card h3 {
  flex: 1;
  display: flex;
  align-items: center;
  height: 100%;
  margin: 20px;
}

@media screen and (max-width: 1024px) {
  .activities .activities-card .card img {
    height: 270px;
  }
}

@media screen and (max-width: 768px) {
  .activities {
    padding: 0 20px;
  }

  .activities .activities-card {
    flex-direction: column;
    gap: 15px;
  }

  .activities .activities-card .card img {
    height: 100%;
    max-height: 140px;
  }
}
