footer {
  background-color: var(--main-bg-color);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer > div {
  flex: 1;
}

footer h3 {
  font-size: 18px;
  margin: 0 0 15px 0;
}

footer ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

footer ul li {
  transition: 0.5s;
}

footer ul li:hover {
  color: var(--main-color);
}

@media screen and (max-width: 768px) {
  footer {
    flex-direction: column;
    gap: 50px;
  }
}
