/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .hebergements-and-populaires {
    flex-direction: column-reverse;
  }
}
