nav {
  display: flex;
  justify-content: space-between;
}

nav .nav-logo {
  width: 60px;
  padding: 30px 0;
}

nav .nav-menu {
  display: flex;
  margin-top: -8px;
  gap: 68px;
}

nav .nav-menu a {
  padding-top: 15px;
  transition: 0.5s;
  border-top: 2px solid transparent;
}

nav .nav-menu a:hover {
  color: var(--main-color);
  border-top: 2px solid var(--main-color);
}

@media screen and (max-width: 768px) {
  nav {
    align-items: center;
    flex-direction: column;
  }

  nav .nav-menu {
    width: 100%;
    gap: 0;
  }

  nav .nav-menu a {
    flex: 1;
    border-top: 0;
    padding: 15px 0;
    text-align: center;
    border-bottom: 2px solid var(--main-bg-color);
  }

  nav .nav-menu a:hover {
    border-top: 0;
    border-bottom: 2px solid var(--main-color);
  }
}
