.search-bar {
  display: inline-flex;
  border-radius: 15px;
  overflow: hidden;
  width: fit-content;
}

.search-bar i {
  color: #000;
  font-size: 18px;
  background-color: var(--main-bg-color);
  padding: 16px 18px;
}

.search-bar input {
  border: 0;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  border-top: 1px solid var(--main-bg-color);
  border-bottom: 1px solid var(--main-bg-color);
}

.search-bar label {
  color: #fff;
  background-color: var(--main-color);
  padding: 14px 18px;
  font-weight: 700;
  cursor: pointer;
}
